.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Source+Sans+Pro:400,400i,700|Heebo:400,700');

.App {
  font-family: 'Heebo', Courier, monospace;
}

.wrapper {
  color: black;
  margin-top: 110px;
  padding-top: 20px;
  height: 1000px;
}

.App-header .navbar-nav .nav-link {
  color: black;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
